/* Start Global Rules */
* {
  box-sizing: border-box;
}
:root {
  /* Setting Variables */
  --main-color: #c64266;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  font-family: "Lato", sans-serif;
}
/* ........................................................................... */
/* Logo */
.logo {
  color: var(--main-color);
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
}
/* ........................................................................... */
/* View Header */
.views {
  height: 60px;
  z-index: 999;
}
.views .view .desktop i,
.views .view .phone i {
  transition: all 0.3s;
  cursor: pointer;
}
.views .view i.active {
  color: var(--main-color);
  transform: scale(1.1);
}
/* ........................................................................... */
/* Loading Page */
/* ........................................................................... */
/* Start Landing Page */
.page-content-md {
  padding-top: 60px;
}
.page-content-md .tabs.list-group .list-group-item {
  transition: all 0.3s;
}
.page-content-md .tabs a {
  height: calc(25vh - (120px / 4));
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #9e9e9e;
  font-weight: bold;
  letter-spacing: -2px;
  transition: 0.3s;
}
.page-content-md .tabs a p {
  margin: 0;
}
.page-content-md .tabs a p::first-letter {
  color: rgba(0, 0, 0, 0.9);
  font-weight: bolder;
  font-size: 24px;
  transition: 0.3s;
  margin-right: 1.5px;
}
.list-group-item {
  border: none;
}
.page-content-md .tabs a.active p::first-letter {
  color: var(--main-color);
}
.tab-content {
  height: calc(100vh - 120px);
}
.tab-content > .active {
  height: 100%;
}
.page-content-md .tab-content .home {
  height: 100%;
}
.page-content-md .tab-content .home .parent {
  height: 100%;
}
.page-content-md .tab-content .home .parent .txt {
  margin-right: 20px;
}
.page-content-md .tab-content .home .parent .txt h4 {
  color: #787878;
  font-weight: 400;
}
.page-content-md .tab-content .home .parent .txt h1 {
  font-weight: bolder;
  font-size: 48px;
  color: var(--main-color);
}
.page-content-md .tab-content .home .parent .txt small {
  color: #787878;
  font-weight: 400;
  margin-top: -18px;
  font-size: 18px;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid var(--main-color);
}
.page-content-md .tab-content .home .parent .txt p {
  font-size: 16px;
  color: #65676b;
}
.page-content-md .tab-content .home .parent .txt p span {
  color: #6b6d72;
  font-weight: bold;
  font-size: 1.1rem;
}
/* Start Social Media Accounts */
.social-accounts {
  transition: 0.3s;
}
.social-accounts ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.social-accounts ul li:hover {
  transform: scale(1.25);
}
.social-accounts ul li a {
  text-decoration: none;
  color: #fff;
}
.social-accounts ul li a i {
  transition: 0.3s;
}
.social-accounts ul li:hover a i.fa-facebook-f {
  color: #488fec;
}
.social-accounts ul li:hover a i.fa-twitter {
  color: #1da1f2;
}
.social-accounts ul li:hover a i.fa-linkedin-in {
  color: #00a0dc;
}
.social-accounts ul li:hover a i.fa-instagram {
  color: #e1306c;
}

/* ........................................................................... */
/* Start Footer */
footer {
  width: 100%;
  height: 60px;
  position: relative;
}
footer .copyright p {
  line-height: 60px;
  margin-left: 40px;
  margin-bottom: 0;
}
footer .abdelhady p {
  line-height: 60px;
  position: absolute;
  right: 40px;
  margin-bottom: 0;
}
footer .abdelhady p a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
/* ........................................................................... */
/* Start Skills Section */
.skills .skills-logos li > img {
  max-width: 40%;
}
.skills h2.skills-txt {
  width: fit-content;
  transition: all 0.3s;
  animation: text-animation-rev 0.4s ease forwards;
  background-size: 100%;
  background-repeat: repeat;
}
.skills h2.skills-txt:hover {
  animation: text-animation 0.25s ease-in forwards;
  cursor: default;
}
.skills h2.learn-txt {
  width: fit-content;
  transition: all 0.3s;
  animation: text-animation-rev 0.4s ease forwards;
  background-size: 100%;
  background-repeat: repeat;
}
.skills h2.learn-txt:hover {
  animation: text-animation 0.25s ease-in forwards;
  cursor: default;
}
@keyframes text-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 950%;
  }
  100% {
    background-size: 950%;
  }
}
.skills .learn-logos li {
  max-width: 25%;
}
.skills .learn-logos li > img {
  max-width: 30%;
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #868585;
  margin-right: 8px;
  margin-left: 8px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #868585;
  border-radius: 5px;
}
/* ...............................Projects............................. */
.projects .card {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.projects .card img {
  border: 3px solid #856d78;
  transition: 0.3s;
  height: 100%;
}
/* .projects .card:hover img{
} */
.projects .card:hover img {
  transform: scale(1.05);
}
.projects .card .card-body {
  height: 100%;
  width: 100%;
  padding: 10px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.projects .card:hover .card-body {
  top: 0;
}
.projects .card .card-body i {
  font-size: 75px;
  color: #fff;
}
.projects .modal-body a,
.projects .modal-body button {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/* ...............................End Projects............................. */
/* ...............................Start Contacts............................. */
.contacts .freelancing ul li {
  position: relative;
  width: 20%;
  height: 60px;
  cursor: pointer;
}
.contacts .freelancing ul li img {
  position: absolute;
  top: 7px;
  left: 10px;
}
.contacts .freelancing ul li a {
  width: 10px;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.contacts .freelancing ul li p {
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
  color: #66555c;
  display: none;
  padding-left: 40px;
}
.contacts .social-contacts ul li {
  position: relative;
  width: 20%;
  height: 60px;
  cursor: pointer;
}
.contacts .social-contacts ul li i {
  position: absolute;
  top: 7px;
  left: 10px;
}
.contacts .social-contacts ul li a {
  width: 0;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.contacts .social-contacts ul li p {
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
  color: #66555c;
  display: none;
  padding-left: 45px;
}
/* ...............................End Contacts............................. */
